* {
    margin: 0;
    padding: 0;
   }
  
  
  body {
    margin: 0 auto;
  } 

 h2 {
    font-style: italic ;
 }
 h3 {color: blue;}

 p {font-size: 20px;
 }
 footer {
     background-color: burlywood;
 }